<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">HuffPost Scraper</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/scrape">Start Scraping</a></li>
      <li><a href="/savedArticles">Saved Articles</a></li>
    </ul>
  </div>
</nav>



  <div class="row">
    <div class="col s12 teal lighten-2">
        <table id= "populate"></table>
      </div>
  </div>

  {{!-- <a class="waves-effect waves-light btn modal-trigger" data-target="modal1" href="#modal1">Modal</a> --}}

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Notes</label>
        </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Done</a>
    </div>
  </div>
    
  {{!-- <div id="notes"></div> --}}
