<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">HuffPost Scraper</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/savedArticles">Saved Articles</a></li>
    </ul>
  </div>
</nav>


<body>
      <div class="container">
        <p><center>Scrape complete. Please click the button to return to the home page!</p></center>
        <p><center><a class="waves-effect waves-light btn" href="/">Home</a></p></center>
      </div>
      
</body>